.sidebar {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  color: #c7cbd7;
}

.navbar-brand {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.icon {
  width: 100px;
  height: 100px;
}

.nav-link > div {
  display: flex;
  align-items: center;
}
.nav-link:hover {
  color: #4a4f91;
}

.nav-link.active {
  color: #4a4f91;
}

#listing-title {
    color: #3f4857;
    font-size: 10.72px;
}
