$dark: #141b2d;
$secondary: #666666;
$danger: #db4f4a;
$success: #4cceac;
$info: #6870fa;
$body-bg: #000000;
$primary: #1c2438;
$nav-link-color: #c7cbd7;

// stylelint-disable value-keyword-case
$font-family-sans-serif:      'Inter', sans-serif;
$font-family-monospace:       SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;



@import "~bootstrap/scss/bootstrap.scss";
